@{
    var status = Context.Request.Query["status"];
    var inprocess = "text-primary";
    var pending = "text-primary";
    var completed = "text-primary";
    var approved="text-primary";
    var all = "text-primary";

    switch (status)
    {
        case "pending":
            pending = "active";
            break;

            case "inprocess":
            inprocess = "active";
            break;

            case "completed":
            completed = "active";
            break;

            case "approved":
            approved = "active";
            break;

            default:
            all = "active";
            break;
    }
}
 


<br/>
    <br/>
<div class="container p-3">
    <div class="d-flex justify-content-between row pt-4 ">
        <div class="col-6 p-2">
            <h2 class="text-primary">Order List</h2>
        </div>
       <div class="col-lg-6 col-md-12 col-sm-12 p-2">
           <ul class="list-group list-group-horizontal-sm text-lg-end">
               <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess"><li class="list-group-item @inprocess">In Process</li></a>
               <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="pending"><li class="list-group-item @pending">Pending</li></a>
               <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed"><li class="list-group-item @completed">Completed</li></a>
               <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved"><li class="list-group-item @approved">Approved</li></a>
               <a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="all"><li class="list-group-item @all">All</li></a>
           </ul>
       </div>
    </div>
    <br/>
    <br/>

<table id="orderTable" class="table table-bordered" style="width:100%;font-size:0.9rem;">
    
    <thead>
        <tr>
            
            <th>ID</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Status</th>
            <th>Total</th>
           <th></th>
        </tr>
    </thead>
    
</table>
</div>

@section Scripts{
    <script src="~/js/orderDataTable.js"></script>
}